* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.box-layout__box {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  width: 25rem; }

.box-layout__title {
  margin: 0 0 1.6rem 0;
  line-height: 1; }

.button {
  background: #1c88bf;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  padding: 1.2rem;
  text-decoration: none; }

.button--link {
  background: none; }

.button--secondary {
  background: #888; }

.header {
  background: #364051; }

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0; }

.header__title {
  color: white;
  text-decoration: none; }
  .header__title h1 {
    margin: 0; }

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem; }

.page-header {
  background: #f7f7f7;
  margin-bottom: 3.2rem;
  padding: 3.2rem 0; }

.page-header__actions {
  margin-top: 1.6rem; }

.page-header__title {
  font-weight: 300;
  margin: 0; }
  .page-header__title span {
    font-weight: bold; }

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem; }
  @media (min-width: 45rem) {
    .input-group {
      flex-direction: row;
      margin-bottom: 3.2rem; } }

.input-group__item {
  margin-bottom: 1.2rem; }
  @media (min-width: 45rem) {
    .input-group__item {
      margin: 0 1.2rem 0 0; } }

.text-input, .select, .textarea {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem; }

.textarea {
  height: 10rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form > * {
    margin-bottom: 1.6rem; }

.form__error {
  margin: 0 0 1.6rem 0;
  font-style: italic; }
